<h1>Welcome#index</h1>

<p>Hotels</p>
<%= link_to 'Hotels list', controller: 'hotels' %>
<%= link_to 'New hotel', new_hotel_path %>

<p>Users</p>
<%= link_to 'Users list', controller: 'users' %>
<%= link_to 'New users', new_user_path %>